/* début exo 01 les_hover_01 */
section:not(section:last-of-type) {
  border-bottom: 2px solid black;
}

section {
  padding-bottom: 50px;
}

#les_hover_01:hover,
#les_hover_02:hover {
  color: khaki;
}

.bg-color {
  width: 150px;
  height: 150px;
  background-color: lightblue;
}

#les_hover_01:hover {
  background-color: purple;
}
/* fin exo 01 les_hover_01 */

/* début exo 02 les_hover_02 */
#les_hover_02 {
  background-color: lightblue;
}

.height_and_width {
  height: 150px;
  width: 150px;
  background-color: red;
  transition: 3s;
}

.height_and_width:hover {
  height: 200px;
  width: 500px;
}

/* fin exo 02 les_hover_02 */

/* début exo 03 les_focus_03 */

/* fin exo 03 les_focus_03 */

/* début exo 04 les transitions */

/* fin exo 04 les transitions */

/* début exo 05 les transitions */

/* fin exo 05 les transitions */

/* début exo 06 les transitions */

/* fin exo 06 les transitions */

/* début exo 07 les transitions */

/* fin exo 07 les transitions */

/* début exo 08 les transitions */

/* fin exo 08 les transitions */

/* début exo 09 les transitions */

/* fin exo 09 les transitions */

/* début exo 10 les transitions */

/* fin exo 10 les transitions */
